In [37]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                  'key2': ['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

In [69]:
df

  category      data   weights
0        a -0.682187 -0.066293
1        a -1.420938 -1.028307
2        a  0.983658  0.906774
3        a -1.167409  1.313403
4        b -0.338164 -0.606015
5        b -1.148554 -0.476659
6        b  0.757965  1.043268
7        b -0.856825  0.318507

In [39]:
# hitung rata-rata kolom data1 dengan menggunakan label dari key1

grouped = df['data1'].groupby(df['key1'])

In [40]:
grouped

In [41]:
grouped.mean()

key1
a   -0.804162
b    0.488192
Name: data1, dtype: float64

In [42]:
print(grouped)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x000002812DC01E48>

In [43]:
# multiple arraysin groupby for multiple level categorization

means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [44]:
means

key1  key2
a     one    -1.868397
      two     1.324306
b     one     1.367448
      two    -0.391065
Name: data1, dtype: float64

In [45]:
means.unstack()

key2       one       two
key1
a    -1.868397  1.324306
b     1.367448 -0.391065

In [46]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])

In [47]:
years = np.array([2005, 2005, 2006, 2005, 2006])

In [48]:
df['data1'].groupby([states, years]).mean()

# this is assigning two lists of categories (with length matching the data) to categorize data1

California  2005    1.324306
            2006    1.367448
Ohio        2005   -1.361125
            2006   -1.405608
Name: data1, dtype: float64

In [49]:
df.groupby('key1').mean()

# bisa juga langsung jika datanya ada di tabel yg ingin dicategorize

         data1     data2
key1
a    -0.804162 -0.540384
b     0.488192 -0.558339

In [50]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one  -1.868397 -0.276056
     two   1.324306 -1.069038
b    one   1.367448 -1.142322
     two  -0.391065  0.025644

In [51]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [52]:
# Iterating Over Groups

# iteration -> generating a sequence of 2 tuples containing the group name along with the chunk of data

for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -2.331185 -0.953301
1    a  two  1.324306 -1.069038
4    a  one -1.405608  0.401188
b
  key1 key2     data1     data2
2    b  one  1.367448 -1.142322
3    b  two -0.391065  0.025644

In [53]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -2.331185 -0.953301
4    a  one -1.405608  0.401188
('a', 'two')
  key1 key2     data1     data2
1    a  two  1.324306 -1.069038
('b', 'one')
  key1 key2     data1     data2
2    b  one  1.367448 -1.142322
('b', 'two')
  key1 key2     data1     data2
3    b  two -0.391065  0.025644

In [54]:
pieces = dict(list(df.groupby('key1')))

In [55]:
pieces['b']

  key1 key2     data1     data2
2    b  one  1.367448 -1.142322
3    b  two -0.391065  0.025644

In [56]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

In [57]:
for k1, q in df.groupby(df.dtypes, axis=1):
    print(k1)
    print(q)

float64
      data1     data2
0 -2.331185 -0.953301
1  1.324306 -1.069038
2  1.367448 -1.142322
3 -0.391065  0.025644
4 -1.405608  0.401188
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

In [70]:
# Selecting a Column or Subset of Columns

# df.groupby('key1')['data1']

# is the same as 

df['data1'].groupby('key1')

# but will require less computation power

KeyError: 'data1'

In [ ]:
df.groupby(['key1', 'key2'])[['data2']].mean()

In [ ]:
s_grouped = df.groupby(['key1', 'key2'])['data2']

In [ ]:
s_grouped

In [ ]:
s_grouped.mean()

In [ ]:
# Grouping with Dicts and Series

people = pd.DataFrame(np.random.randn(5,5),
                     columns=['a', 'b', 'c', 'd', 'e'],
                     index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

In [ ]:
people.iloc[2:3, [1, 2]] = np.nan

In [ ]:
people

In [ ]:
# group correspondence for the columns and want to sum together the columns by group

mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
          'd': 'blue', 'e': 'red', 'f': 'orange'}

In [ ]:
by_column = people.groupby(mapping, axis=1)

In [ ]:
by_column.sum()

In [ ]:
map_series = pd.Series(mapping)

In [ ]:
map_series

In [ ]:
people.groupby(map_series, axis=1).count()

In [ ]:
# Grouping with Functions

people.groupby(len).sum()

In [ ]:
key_list = ['one', 'one', 'one', 'two', 'two']

In [ ]:
people.groupby([len, key_list]).min()

In [ ]:
for i, j in people.groupby(len): # maksudnya length of the name
    print(i)
    print(j)

In [ ]:
# Grouping by Index Levels

columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                    [1,3,5,1,3]],
                                   names=['city', 'tenor'])

In [ ]:
hier_df = pd.DataFrame(np.random.randn(4,5), columns=columns)

In [ ]:
hier_df

In [ ]:
hier_df.groupby(level='city', axis=1).count()

In [ ]:
# Data Aggregation

# Aggregation is transformation data that produces scalar values from arrays

df

In [ ]:
grouped = df.groupby('key1')

In [ ]:
grouped['data1'].quantile()

In [ ]:
# agg method for aggregating an array

def peak_to_peak(arr):
    return arr.max() - arr.min()

In [ ]:
# for using your own aggregation functions, use agg method

grouped.agg(peak_to_peak)

In [ ]:
grouped.describe()

In [ ]:
# Column-Wise and Multiple Function Application

tips = pd.read_csv('tips.csv')

In [ ]:
# add tip percentage of total bill

tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [ ]:
tips[:6]

In [ ]:
# if you want to aggregate using different function depending on the column, or multiple functions at once

grouped = tips.groupby(['day', 'smoker'])

In [ ]:
grouped_pct = grouped['tip_pct']

In [ ]:
grouped_pct.agg('mean')

# this will calculate mean

In [59]:
grouped_pct.agg(['mean', 'std', peak_to_peak])

NameError: name 'grouped_pct' is not defined

In [ ]:
grouped_pct.agg([('foo', 'mean'), ('bar', np.std)])

# the tuple inside the list's format is (name, function)

In [ ]:
# with a DataFrame you have more options

functions = ['count', 'mean', 'max']

In [ ]:
result = grouped['tip_pct', 'total_bill'].agg(functions)

In [ ]:
result

In [ ]:
result['tip_pct']

In [ ]:
# a list of tuples with custom names can be passed

ftuples = [('Durchschnitt', 'mean'), ('Abweichung', np.var)]

In [ ]:
grouped['tip_pct', 'total_bill'].agg(ftuples)

# this function is assigning batch columns for a range of functions

In [ ]:
grouped.agg({'tip': np.max, 'size': 'sum'})

# this specified the column and the associated function you wanna apply

In [ ]:
grouped.agg({'tip_pct': ['min', 'max', 'mean', 'std'],
            'size': 'sum'})

In [ ]:
# Returning Aggregated Data without Row Indexes

tips.groupby(['day', 'smoker'], as_index=False).mean()

In [ ]:
# APPLY: GENERAL split-apply-combine

def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [ ]:
top(tips, n=6)

In [ ]:
tips.groupby('smoker').apply(top)

In [ ]:
tips.groupby(['smoker', 'day']).apply(top, n=1, column='total_bill')

In [ ]:
result = tips.groupby('smoker')['tip_pct'].describe()

In [ ]:
result

In [ ]:
result.unstack('smoker')

In [ ]:
# Suppressing the Group Keys

# if you don't want hierarchical index formed from the group keys
# assign group_keys=False to groupby

tips.groupby('smoker', group_keys=False).apply(top)

In [ ]:
# Quantile and Bucket Analysis

frame = pd.DataFrame({'data1': np.random.randn(1000),
                     'data2': np.random.randn(1000)})

In [ ]:
quartiles = pd.cut(frame.data1, 4)

In [ ]:
quartiles[:10]

In [ ]:
# The categorical object returned by cut can be passed directly to groupby

def get_stats(group):
    return {'min': group.min(), 'max': group.max(),
           'count': group.count(), 'mean': group.mean()}

In [ ]:
grouped = frame.data2.groupby(quartiles)

In [ ]:
grouped.apply(get_stats).unstack()

In [ ]:
# Return quantile numbers

grouping = pd.qcut(frame.data1, 10, labels=False)

In [ ]:
grouped = frame.data2.groupby(grouping)

In [60]:
grouped.apply(get_stats).unstack()

NameError: name 'get_stats' is not defined

In [ ]:
# Example: Filling Missing Values with Group-Specific Values

s = pd.Series(np.random.randn(6))

In [ ]:
s[::2] = np.nan

In [ ]:
s

In [ ]:
s.fillna(s.mean())

In [ ]:
# what if the values you want to be added is different by group

states = ['Ohio', 'New York', 'Vermont', 'Florida',
         'Oregon', 'Nevada', 'California', 'Idaho']

In [ ]:
group_key = ['East'] * 4 + ['West'] * 4

In [ ]:
data = pd.Series(np.random.randn(8), index=states)

In [ ]:
data

In [ ]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan

In [ ]:
data

In [ ]:
data.groupby(group_key).mean()

In [ ]:
fill_mean = lambda g: g.fillna(g.mean())

In [ ]:
data.groupby(group_key).apply(fill_mean)

In [ ]:
fill_values = {'East': 0.5, 'West': -1}

In [ ]:
fill_func = lambda g: g.fillna(fill_values[g.name])

In [ ]:
data.groupby(group_key).apply(fill_func)

In [ ]:
# Example: Random Sampling and Permutation

# pisahin valuenya
suits = ['H', 'S', 'C', 'D'] # untuk simbol
card_val = (list(range(1,11)) + [10] * 3) * 4 # untuk nilai kartunya, karena ada dari 1-10 + KQJ dari masing-masing simbol (4)
base_names = ['A'] + list(range(2,11)) + ['J', 'K', 'Q'] # namanya dari A untuk 1, 2-10 dan KQJ
cards = [] # hasil kartunya

for suit in ['H', 'S', 'C', 'D']: 
    cards.extend(str(num) + suit for num in base_names)
    
deck = pd.Series(card_val, index=cards)

In [ ]:
cards.append(str(num) + suit for num in base_names)

In [ ]:
pd.Series(list(cards)[:52], index=card_val)

In [ ]:
def draw(deck, n=5):
    return deck.sample(n)

In [ ]:
draw(deck)

In [ ]:
get_suit = lambda card: card[-1] # last letter is suit

In [ ]:
deck.groupby(get_suit).apply(draw, n=2)

In [ ]:
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

In [61]:
# Example: Group Weighted Average and Correlation

# using split-apply-combine paradigm of groupby, operations between columns in DataFrame or two Series are possible

df = pd.DataFrame({'category': ['a', 'a', 'a', 'a',
                               'b', 'b', 'b', 'b'],
                  'data': np.random.randn(8),
                  'weights': np.random.randn(8)})

In [62]:
df

  category      data   weights
0        a -0.682187 -0.066293
1        a -1.420938 -1.028307
2        a  0.983658  0.906774
3        a -1.167409  1.313403
4        b -0.338164 -0.606015
5        b -1.148554 -0.476659
6        b  0.757965  1.043268
7        b -0.856825  0.318507

In [63]:
grouped = df.groupby('category')

In [64]:
get_wavg = lambda g: np.average(g['data'], weights=g['weights'])

In [65]:
grouped.apply(get_wavg)

category
a    0.768550
b    4.551234
dtype: float64

In [66]:
# consider a financial dataset from Yahoo! Finance S&P 500 Index

close_px = pd.read_csv('stock_px_2.csv', parse_dates=True,
                      index_col=0)

FileNotFoundError: [Errno 2] File b'stock_px_2.csv' does not exist: b'stock_px_2.csv'

In [ ]:
close_px.info()

In [ ]:
close_px[-4:]

In [ ]:
# compute DF consisting yearly correlations of daily returns (computed from percent changes) with SPX
# create a function that computes the pairwise correlation of each column with the SPX column

spx_corr = lambda x: x.corrwith(x['SPX'])

In [ ]:
rets = close_px.pct_change().dropna()

In [ ]:
get_year = lambda x: x.year

In [ ]:
by_year = rets.groupby(get_year)

In [ ]:
by_year.apply(spx_corr)

In [ ]:
by.year.apply(lambda g: g['AAPL'].corr(g['MSFT']))

# compute inter-column correlations

In [ ]:
# Example: Group-Wise Linear Regression

import statsmodels.api as sm
def regress(data, year, xvars):
    Y = data[yvar]
    X = data[xvars]
    X['intercept'] = 1.
    result = sm.OLS(Y, X).fit()
    return result.params

In [ ]:
by_year.apply(regress, 'AAPL', ['SPX'])

In [ ]:
# PIVOT TABLES AND CROSS-TABULATION

# pivot table is a data summarization tool that aggregates a table of data by one or more keys, arranging the data in a rectangle with some of the group keys along the rows and some along the columns

tips.pivot_table(index=['day', 'smoker'])

In [ ]:
tips.pivot_table(['tip_pct', 'size'], index=['time', 'day'],
                columns='smoker')

In [ ]:
tips.pivot_table(['tip_pct', 'size'], index=['time', 'day'],
                columns='smoker', margins=True)

In [ ]:
tips.pivot_table('tip_pct', index=['time', 'smoker'], columns='day',
                aggfunc=len, margins=True)

In [ ]:
tips.pivot_table('tip_pct', index=['time', 'size', 'smoker'],
                columns='day', aggfunc='mean', fill_value=0)

In [ ]:
# Cross-Tabulations: Crosstab
# A cross-tabulation (or crosstab for short) is a special case of a pivot table that computes group frequencies. 

data

In [ ]:
pd.crosstab(data.Nationality, data.Handedness, margins=True)

In [ ]:
pd.crosstab([tips.time, tips.day], tips.smoker, margins=True)